<% include partials/header%>
<h2>Register Here</h2>

<form action="/users/create" method="post">
    <input type="text" name="username">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit">
</form>

<% include partials/footer%>